.landing .landing-box {
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 21px;
  display: inline-block;
  margin: 70px 14px 014px;
  padding: 14px;
}
.landing h2 {
  font-size: 42px;
}
.landing p {
  margin-top: 21px;
}
.landing p span {
  font-size: 21px;
}
.landing .icon {
  color: white;
  font-size: 140px;
  line-height: 35px;
  margin-top: 140px;
  animation: neon 2.1s ease-in-out infinite alternate;
}
@keyframes neon {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
  to {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #FF1177, 0 0 17px #FF1177, 0 0 20px #FF1177, 0 0 25px #FF1177, 0 0 37px #FF1177;
  }
}
