.contact {
  background: rgba(0, 0, 0, 0.42);
  border-radius: 35px;
  margin: 0 auto;
  padding: 21px;
  text-align: left;
  width: 280px;
}
.contact h3 {
  margin-top: 21px;
}
.contact h3,
.contact i {
  font-size: 35px;
}
.contact i {
  width: 70px;
}
.contact a {
  color: gold;
  font-size: 21px;
}
