.about {
  background-color: rgba(0, 0, 0, 0.42);
  border-radius: 14px;
  height: 60vh;
  margin: 21px auto;
  overflow: scroll;
  padding: 14px;
  width: 800px;
}
.about p {
  font-size: 21px;
  padding: 21px 70px;
  text-align: left;
}
